*.bak
*.cache
#*.dll
#*.DLL
*.log
*.obj
*.suo
*.swp
*.user
*ReSharper*
*resharper*
_compareTemp
_notes
.vs
aspnet_client
output
output/*
bin
bin/*
Bin
Bin/*
httpd.parse.errors
obj
Thumbs.db
*.Publish.xml
packages